body {
    background-color: rgba(211, 211, 211, 0.055);
}

.container {
    width: 90%;
}

.display-1{
    padding-bottom: 30px;
    font-size: 50px;
}

.text-muted {
    font-size: 12px;
    margin-bottom: 0;
}

.expance {
    background-color: white;
    padding: 20px 10px 10px 10px;
    margin: 2px auto;
    width: 90%;
    /* border-bottom: 1px solid lightgray; */
    display: flex;
    justify-content: space-between ;
    align-items: center;
    box-shadow: 1px 6px 15px -4px rgba(0,0,0,0.12);
}

.button {
    width: 90%;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

table input {
    border: none;
    outline: none;
}

table td:hover {
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.17);
}

td {
    padding: none;
    margin: auto;
    width: 20px;
    height: 60px;
    text-overflow: clip;
}